---
title: An Analysis of Faculty + Research at FAU
sections:
  - Faculty
  - Research Papers
  - Research Topics
  - Stats (graduates, followers)
pagination:
  data: faculty
  size: 100
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
</head>
<body>
	<h1>{{ title }}</h1>
  <ul>
	{% for part in sections %}
		<li>{{ part }}</li>
    <ul>
    {% if part == 'Faculty' %}
    {%- for item in pagination.items %}
      <li>{{ item.name }}</li>
      <img src="{{ item.picture }}"/>
    {% endfor -%}
    {% endif %}
    </ul>
	{% endfor %}
  </ul>
</body>
