
<div class="jumbotron">
	<h1>{{ title }}</h1>
  <br/>
	<h2>{{ subtitle }}</h2>
  <br/>
<div>

<div class="container">
  <a href="{{ '/' | url }}"><button type="button" class="btn btn-outline-primary">Home</button></a>
  <a href="{{ '/faculty' | url }}"><button type="button" class="btn btn-outline-primary">Faculty</button></a>
  <a href="{{ '/research' | url }}"><button type="button" class="btn btn-outline-primary">Research Papers</button></a>
  <a href="{{ '/interests' | url }}"><button type="button" class="btn btn-outline-primary">Research Topics</button></a>
  <a href="{{ '/stats' | url }}"><button type="button" class="btn btn-outline-primary">Stats (graduates, followers)</button></a>
  <br/> <br/>
</div>
