---
title: An Analysis of Faculty + Research at FAU
subtitle: Lemmatized Overlap of Research Topics
layout: base
pagination:
  data: connected_interests
  size: 100
---

<div class="container">
  <canvas id="interestsOverlapChart"></canvas>
</div>
<div class="container">
  <canvas id="interestsPieChart"></canvas>
</div>


<div class="container">
  <ul>
    <ul>
      {%- for item in pagination.items %}
        <li>{{ item.topic }}</li>
        <li>{{ item.people|length }}</li>
      {% endfor -%}
    </ul>
  </ul>
</div>
