---
title: An Analysis of Faculty + Research at FAU
subtitle: Lemmatized Overlap of Research Topics
layout: base
pagination:
  data: connected_interests
  size: 100
---

<div class="container">
  <canvas id="interestsOverlapChart"></canvas>
</div>
<div class="container">
  <canvas id="interestsMatrixChart"></canvas>
</div>
