@import "@webpixels/css/base";
@import "@webpixels/css/forms";
@import "@webpixels/css/components";
@import "@webpixels/css/utilities";

h1, h2 {
  text-align: center;
}

.jumbotron {
  padding-top: 48px;
  padding-bottom: 48px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media (max-width: 400px) {
  .card-columns {
    column-count: 2;
  }
}
@media (min-width: 401px) {
  .card-columns {
    column-count: 3;
  }
}
@media (min-width: 800px) {
  .card-columns {
    column-count: 5;
  }
}

.profile {
  height: 150px;
}
